{
  globals: {
    // Google Apps Script
    HtmlService: true,
    Logger: true,
    PropertiesService: true,
    ScriptApp: true,
    SpreadsheetApp: true,
    UrlFetchApp: true,

    // triggers
    onInstall: true,
    onOpen: true,

    // External Libraries
    GasTap: true,
    SalesforceLib: true,

    // Our functions, classes
    Config: true,
    ConfigApi: true,
    ConfigQuery: true,
    ConfigSchedule: true,
    ConfigSlack: true,
    Fetch: true,
    Menu: true,
    Notifier: true,
    Obj: true,
    SFLib: true,
    SlackWebhook: true,
    SpreadsheetUtil: true,
    TestCommon: true,
    testRunner: true,
    triggerCheckAuth: true,
  },
  extends: 'airbnb-es5',
}
