{
  globals: {
    // Google Apps Script
    HtmlService: true,
    Logger: true,
    PropertiesService: true,
    SpreadsheetApp: true,

    // triggers
    onInstall: true,
    onOpen: true,

    // External Libraries
    GasTap: true,
    SalesforceLib: true,

    // Our classes
    ConfigApi: true,

    // test function
    testRunner: true,

    // menu
    addMenu: true,
  },
  extends: 'airbnb-es5',
}
